html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*My Styleing*/
body {
	margin: 0;
}

header {
	background-image: url(../images/Baltimore-Skyline.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
}

#light-blue {
	height: 1500px;
	background-image: url(../images/tile_lightblue.jpg); 
}
#fade-dark {
	background-image: url(../images/depth4_fadetop.png);
	height: 380px;
}
#dark-blue {
	height: 1500px;
	background-image: url(../images/tile_darkblue.jpg); 
}
div.squiddy{
  content: url(https://raw.githubusercontent.com/mancub/ksr/master/images/squid.png);
  bottom: 90px;
  height: 100px;
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  right: 50px;
  width: 100px;
  z-index: 100;
  padding-top: 300px;
}
.align-right { float:right; margin-right: 100px; }
.align-left { float:left; margin-left: 100px; }


