html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
	color: #23d2ec;
}

/*My Styleing*/
body {
	margin: 0;
}

h1 {
	font-size: 1.5em;
}

p {
	font-size: 1em;
}

header {
	background-image: url(../images/Baltimore-Skyline.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
}

header h1 {
	text-align: center;
	font-size: 2.5em;
}

#light-blue {
	height: 1500px;
	background-image: url(../images/tile_lightblue.jpg);
}

.plastic-box {
	padding-top: 20px;
	margin-left: 40px;

}
#fade-dark {
	background-image: url(../images/depth4_fadetop.png);
	height: 380px;
}
.content h1 {
	padding-top: 78px;
	font-size: 2.5em;
	text-align: center;
}

#dark-blue {
	height: 2700px;
	background-image: url(../images/tile_darkblue.jpg); 
}
#waves {
	background-image: url(https://bishnois.files.wordpress.com/2010/11/pb030224.jpg);
	height: 100px;
	z-index: 200;
}
.squiddy{
  bottom: 90px;
  height: 150px;
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  z-index: 100;
  padding-top: 300px;
}

#box {
	min-height: 300px;
	width: 550px;
	background: white;
	position: relative;
	display: inline-block;
	margin-bottom: 400px;
}

#box.one {
	text-align: left;
	margin-left: 40px;
	background-image: url(../images/monster_two-whales-attacking-ship.jpg);
	background-repeat: no-repeat;
}

#box.two {
	float: right;
	margin-right: 40px;
	background-image: url(../images/monster_whale-attack-indies.jpg);
	background-repeat: no-repeat;
}

#box.three {
	text-align: left;
	margin-left: 40px;
	background-image: url(../images/monster_sea-swine.jpg);
	background-repeat: no-repeat;
}

#box.four {
	float: right;
	margin-right: 40px; 
	background-image: url(../images/monster_elephish.jpg);
	background-repeat: no-repeat;
}

#box.five {
	text-align: left;
	margin-left: 40px;
	padding: 10px;
}

#box.six {
	float: right;
	margin-right: 40px;
	background-image: url(../images/monster_walrus1.jpg);
	background-repeat: no-repeat;
}

#box {
	transition: background-color 2s ease;
	background-color: gray;
	opacity: .3;
}

#box:hover {
	background-color: gray;
	opacity: .9;
}
    
.squiddy .gif {
	content: url(../images/octopus.gif); 
	/*content: url(https://raw.githubusercontent.com/mancub/ksr/master/images/squid-gif.gif);*/
	display: none;
}

.squiddy .still {
	content: url(../images/octopus.png);
	/*content: url(https://raw.githubusercontent.com/mancub/ksr/master/images/squid-gif.gif);*/
	display: none;
}
footer { 
	margin: auto; 
	text-align: center; 
}

footer img {
	margin: auto;
	text-align: center;
	display: inline-block;
}
.align-left { 
	float:left; 
	margin-left: 100px; 
}


